.container {
    display: block;
    max-width: 300px;
}

header h2{
    text-align: center;
}

.form-camp {
    justify-content: column;
    margin: 12px;
}

.form-camp label {
    display: block;
}/*usado para organizar o label em uma linha*/

.form-camp input {
    width: 100%;
}/*e o input logo abaixo*/

button{
    margin: 12px;
    cursor: pointer;
}
